SELECT *
FROM tblCliente2

INSERT tblCliente2
VALUES('Henrique', 1990-10-23, 1200)

UPDATE tblCliente2
SET Nome='Weverton'
WHERE IdCliente=5

DELETE
FROM tblCliente2
WHERE Nome='João de Jesus'
